<p>test works!</p>
<button (click)="newPost()" >
  New Post
</button>

<button (click)="updatePost()" >
  Update Post
</button>

<button (click)="deletePost()" >
  Delete Post
</button>

<div *ngFor=" let post of posts">
  <span>
    {{post.postid}}
  </span>
  <span>{{post.body}}</span>
</div>


<p>##################  getPost  ######################</p>


<button (click)="getPost()" >
  Fetch Posts
</button>


<div *ngIf="post">
  <span>
    {{post.postid}}
  </span>

</div>

<p>#####################  newPost  ##################################</p>






