<!--<div>-->
<!--  <label>Title:</label>-->
<!--  <input [(ngModel)]="post.title" placeholder="title"/>-->
<!--</div>-->
<!--<div>-->
<!--  <label>Body:-->
<!--    <textarea [(ngModel)]="post.body" placeholder="body"></textarea>-->
<!--  </label>-->
<!--</div>-->
<!--<h4>Last Modified: {{post.modified| date:'M/d/yyyy h:mm:ss a'}}</h4>-->
<!--<div>-->
<!--  <button (click)="deletePost()">Delete</button>-->
<!--  <button (click)="updatePost()">Save</button>-->
<!--  <button (click)="preview()">Preview</button>-->
<!--</div>-->
<h1>Edit</h1>
<div *ngIf = "post" class="editPane">

<form _ngcontent-c2="" novalidate="" class="ng-pristine ng-valid ng-touched">
  <div _ngcontent-c2="">
    <label _ngcontent-c2="">Title:
      <input _ngcontent-c2="" formcontrolname="titleControl" name="title" [(ngModel)]="post.title" placeholder="title" class="ng-pristine ng-valid ng-touched">
    </label>
  </div>
  <div _ngcontent-c2="">
    <label _ngcontent-c2="">Body:
      <textarea _ngcontent-c2="" cols="50" formcontrolname="bodyControl" name="body" [(ngModel)]="post.body" placeholder="" rows="10" class="ng-pristine ng-valid ng-touched">
      </textarea>
    </label>
  </div>
  <div _ngcontent-c2="">
    <span _ngcontent-c2="">Last Modified: {{post.modified| date:'M/d/yyyy h:mm:ss a'}}</span>
  </div>
  <button _ngcontent-c2="" type="button" (click)="deletePost()">delete</button>
  <button _ngcontent-c2="" type="button" (click)="updatePost()">save</button>
  <button _ngcontent-c2="" type="button" (click)="preview()">preview</button>
</form>

</div>
