/* editComponent's private CSS styles */
label[_ngcontent-c2]{
  display:inline-block;
  width:3em;margin:.5em 0;
  color:#607d8b;font-weight:700
}
input[_ngcontent-c2]{
  height:2em;
  font-size:1em;
  padding-left:.4em
}
button[_ngcontent-c2]{
  margin-top:20px;
  font-family:Arial;
  background-color:#eee;border:none;
  padding:5px 10px;
  border-radius:4px;
  cursor:pointer;
  cursor:hand
}

button[_ngcontent-c2]:hover{
  background-color:#cfd8dc
}

button[_ngcontent-c2]:disabled{
  background-color:#eee;
  color:#ccc;cursor:auto
}
.editPane[_ngcontent-c2]{
  padding-left:10px;
  width:50%;
  float:left
}
